body {
    margin: 0; 
    padding: 0;
    background-color: #855AFF;
}

#main-container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: center;
}

#title {
    font-family: 'Bebas Neue', cursive;
}

#butterfly {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 40px;
    text-align: center;
}

.butterfly-item {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: end;

    margin: 0 8px;
}

.butterfly-item img {
    width: 100%;
}

.butterfly-item p {
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    color: #76F866;
}

#clothes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 40px;
    text-align: center;
}

.clothes-item {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: end;

    margin: 0;
}

.clothes-item img {
    width: 100%;
}

.clothes-item p {
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    color: #76F866;
}

#clothes2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 40px;
    text-align: center;
}

.clothes-item {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: end;

    margin: 0;
}

.clothes-item img {
    width: 100%;
}

.clothes-item p {
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    color: #76F866;
}

#cap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 40px;
    text-align: center;
}

.cap-item {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: end;

    margin: 0;
}

.cap-item img {
    width: 100%;
}

.cap-item p {
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    color: #76F866;
}